
/* 
html, body
#container
#search-box
.phone-shape
.phone-screen-wrapper
.screen-img
.bottom
.svg
gSVG
#infoBox 

*/



*{
    font-family: monospace;
    /* transition: all 700ms; */

}

/* 
html, body
#container
#search-box
.phone-shape
.phone-screen-wrapper
.screen-img
.bottom
.svg
gSVG
#infoBox 

*/



*{
    font-family: monospace;
    /* transition: all 700ms; */

}


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}


::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #111; 
}


#search-box-container{

    height: 100%;
    width: 20%;

}

#container{

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
}

#search-box-container{

    padding: 2vh;

    height: 90%;
    width: 15%;

    background-color: gray;

    border: 2px solid rgb(34, 33, 33);
    border-radius: 2vh;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}

#search-box{
    /* position: absolute;
    top: 10vh;
    left: 15%;
    transform: translateX(-50%); */
    padding: 8px;
    margin-top: 5vh;
    font-size: 16px;
    width: 95%;
    height: 8vh;

    text-align: center;


    border-radius: 5px;
    border: 2px solid #6e6e6e;
    z-index: 10000;
}

#q-and-a{
    width: 95%;
    height: 50%;
    background-color: orange;

    padding: 1vh;

    border-radius: 1vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
}
.q-and-a-button{
    height: 10vh;
    width: 100%;

    background-color: #cfcece;

    border-radius: 1vh;

    text-align: center;
}

.q-and-a-button:hover{
    cursor:pointer;
    background-color: #444343;
}
.phone-shape{
    position: relative;  
    width: 20vw;
    aspect-ratio: 9 / 19.5;

    border: 2px solid rgb(255, 252, 226);
    border-radius: 5vh;
    background-color: rgb(39, 34, 34);
    overflow: hidden;
}

.phone-screen-wrapper{

    position: relative;
    margin: 12% 0;
    height: 88%;
    width: 100%;
    background-color: rgb(150, 129, 170);

    overflow-y: scroll; 
    
}

.screen-img{
    width: 100%;
    height: auto;
}

.bottom{
    width: 100%;

    height: 10%;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

.svg{
    width: 100%;
    /* height: 100%; */

    position: absolute;
    z-index: 9997;

    top: 0;
    left: 0;
}
#gSVG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; 
    z-index: 10; 
}

#infoBox {
    position: absolute;
    left: 65vw;
    background-color: rgb(65, 180, 61);
    box-shadow: 2px 2px 10px rgba(4,2,0,0.8);
    border: 3px solid;
    border-radius: 2vh;
    width: 30vw;
    height: auto;
    padding: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    z-index: 9999;

    /* Hide but still allow transitions */
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8); /* Start slightly smaller */

    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#hotspotRect{
    width: 15vw;
    height: 10vh;
    /* fill: rgba(221, 91, 212, 0.4); */
}

.ornge{
    background-color: rgb(235, 155, 5, 0.5);
}
